$font-family: "Jost";
$font-title: "Montserrat";
//font-family: "Jost", sans-serif;
// font-family: "Montserrat", sans-serif;
// font-family: "Nunito", sans-serif;

//color////
$font-color: rgb(63, 53, 53);
$font-color-td: rgb(80, 76, 76);
