$font-family: "Jost";
$font-title: "Montserrat";
$font-family: "Jost", sans-serif;
$font-family: "Montserrat", sans-serif;
$font-family1: "Nunito", sans-serif;

//color////
$font-color: rgb(63, 53, 53);
$font-color-td: rgb(80, 76, 76);
$background-colorG: rgba(85, 215, 26, 0.21);
$background-Button: rgba(62, 175, 11, 0.96);
$background-Button-g1: #5bad0d;
