.wrapper {
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // & label {
  //   padding-left: 20px;
  // }
}
.radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  width: 300px;
  color: green;

  & label:active {
    color: blue;
  }
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70rem;
  font-size: 30px;


  & i {
    // padding: 0 10px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    margin: 0 6px;
  }
}

.colorImage {
  background-color: blue;
}

