.title {
  margin: 30px 0 35px 25px;
}
/* 
.item1 {
  padding-right: 5px;
} */

.options {
  background-color: rgb(222, 233, 255);
  margin: 20px 0px 25px 25px;
  padding-right: 28px;
  padding-left: 35px;
  border: aliceblue;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border: 1px solid gray;
}

.wrapper {

  width: 250px;
  height: 390px;
  background-color: rgb(205, 205, 211);
 
 
}

.selectExpIncome {
  color: rgb(0, 89, 255);
  
  
}

.options {
  padding-left: 5px;

}

.options:hover {
  color: rgb(0, 89, 255);
 
}

.inputTransaction {
  width: 200px;
  height: 35px;
  display: flex;
  padding-left: 35%;
  margin-left: 25px;
  border: 1px solid gray;
  
}

.monthNewTransaction {
  background-color: rgb(222, 233, 255);
  margin: 20px 0px 25px 25px;
  padding-right: 28px;
  padding-left: 35px;
  border: aliceblue;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border: 1px solid gray;
}

.monthNewTransaction:hover {
  color: rgb(0, 89, 255);
}

.seletedCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  text-decoration: none;
  background-color: rgb(222, 233, 255);
  color: black;
  margin-left: 25px;
  margin-bottom: 15px;
  border: 1px solid gray;
}

.AddAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.categorySelected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(194, 31, 58);
  font-weight: bold;
  font-size: 19px;
}

.buttonCancel {
  background-color: rgb(240, 85, 110);
  color: rgb(14, 15, 15);
  margin-left: 20px;
  margin-top: 50px;
  height: 35px;
  padding-top: 5px;
}

.buttonCancel:hover {
  background-color: rgb(194, 31, 58);
}

.buttonAdd {
  background-color: rgb(45, 185, 10);
  color: rgb(16, 18, 20);
  height: 35px;
  margin-left: 50px;
  margin-top: 50px;
  border: rgb(17, 17, 17);
  width: 75px;
}

.buttonAdd:hover {
  background-color: rgb(34, 216, 80);
}
