.buttonAdd {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(50, 197, 31);
  color: aliceblue;
  font-size: 23px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 93%;
  transform: translate(-50%);
}

.NewAmount {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.input {
  width: 200px;
}
