*main {
  margin: 0;
  padding: 0;
}

.month {
  margin: 25px 5px 20px 75px;
}

/* @media all and (min-width: 1220px) {
  .month {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
} */
