.totalAmount1 {
  color: rgb(58, 248, 20);
  margin-left: 35px;
}

.barIncome {
  color: rgb(104, 248, 20);
  margin-left: 45px;
}

.totalAmount2 {
  color: red;
  margin-left: 35px;
}

.barExpenses {
  background-color: red;

  margin-left: 50px;
}

progress {
  width: 120px;
  height: 25px;
  -webkit-appearance: none;

  /* 
  /* Reinicializar estilos */

  /* appearance: none;
  -moz-appearance: none;;*/
  /* -appearance: none; */
}

/* /* barIncome[value]::-webkit-progress-bar {
  background-color: rgb(231, 235, 231);
} */

progress::-webkit-progress-value {
  background-color: rgb(62, 216, 11);
}

progress::-webkit-progress-bar {
  background-color: rgb(163, 168, 163);
}

progress::-webkit-progress-value {
  background-color: rgb(33, 204, 17);
}
/* progress[value] {
  width: 120px;
  height: 25px;

  /* Reinicializar estilos */

/* appearance: none;
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(212, 37, 6);
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(233, 232, 230);
}  */
