.totalAmount1 {
  color: rgb(29, 133, 8);
  margin-left: 35px;
}

.barIncome {
  color: rgb(104, 248, 20);
  margin-left: 45px;
}

.totalAmount2 {
  color: red;
  margin-left: 35px;
}

.barExpenses {
  background-color: red;
  margin-left: 50px;
}

progress {
  width: 120px;
  height: 25px;
  -webkit-appearance: none;
}

progress::-webkit-progress-value {
  background-color: rgb(62, 216, 11);
}

progress::-webkit-progress-bar {
  background-color: rgb(163, 168, 163);
}

progress::-webkit-progress-value {
  background-color: rgb(33, 204, 17);
}
