@import "/src/styles/core/variables";
.container {
  font-family: $font-title;
}

.income {
  color: #198754;
}

.expense {
  color: #dc3545;
}

.wrapper {
  color: $font-color-td;
  line-height: 3rem;
}
