@import "/src/styles/core/variables";
.container {
  font-family: $font-title;
}

.income {
  color: #198754;
}

.expense {
  color: #dc3545;
  // padding-left: 2rem;
}

.wrapper {
  color: $font-color-td;
}

.tdCategory {
  // padding-bottom: 50px;
  border-style: none;
}

.tdAmount {
  // padding-bottom: 20px;
  border-style: none;
}

// .box {
//   display: flex;
//   flex-direction: column;
// }

.category {
  margin-left: 1rem;
}
