@import "../../../styles/core/mixins";
@import "../../../styles/core/variables";

.container {
  @include flex-column;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 1%;
  margin-top: 1rem;

  @media all and (min-width: 768px) {
    margin-top: 1.5rem;
    @include flex-row;
    align-items: center;
    flex-wrap: wrap;
    width: 30rem;
  }
}

.category {
  font-size: 0.6rem;
  font-family: $font-family;
  height: 3rem;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(238, 236, 236);

  @media all and (min-width: 768px) {
    font-size: 1rem;
  }
}

.category:hover {
  background-color: green;
}
.imgCategoryBox {
  @include flex-column;
  height: 2rem;
  font-size: 1rem;
}

.categorySelected {
  border-radius: 3%;
  background-color: green;
  color: aliceblue;
}

.addCategory {
  text-decoration: none;
  margin-bottom: 1rem;

  @media all and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.newCategory {
  @include flex-row;
  width: 3rem;
  height: 3rem;
  border-radius: 5%;
  background-color: rgba(68, 82, 70, 0.95);
  color: white;
}

.newCategory:hover {
  background-color: green;
}
