@import "../../styles/core/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.headerTransaction {
  background: $background-colorG;
  background: radial-gradient(circle, rgb(91, 173, 13) 0%, rgba(23, 93, 34, 0.76) 100%);
  height: 3rem;
  display: flex;
  align-items: center;
  font-family: $font-family ;
  font-size: 1rem;
  color: #fff;



  & i {
    color: #fff;
    margin-left: 2rem;
  }
}

.title {
  font-size: 1.5rem;
  margin: 0 0 0 2rem;
}



.date {
  margin-bottom: 2rem;
  border:1px solid green;

}

.amount {
  height: 3rem;
  border: none;
  text-align: center;
  border-bottom: 1px solid green;
  font-size: 1.3rem;
  width: 10rem;
}
.labelAmount {
  text-align: center;

  & label {
    font-size: 1.2rem;
  }
}