.wrapper {
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & input[type="radio"] {
    display: none;
  }

  // & label {
  //   padding-left: 20px;
  // }
}

.radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  width: 300px;
  color: green;

  & label:active {
    color: blue;
  }
}

.image {
  font-size: 20px;

  & i {
    padding: 0 10px;
  }
}
