@import "../styles/core/variables";

.btn {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  border-radius: 0.2rem;
  border: 0.02rem solid white;
  background-color: $background-Button-g1;
  width: 75px;
  height: 2rem;
  text-align: center;
  margin-top: 0;

  &:hover {
     background-color: rgba(11, 171, 52, 0.66);
  }
}
