@import "../../../styles/core/variables";
@import "../../../styles/core/mixins";

.wrapper {
  @include flex-row;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.boxIncome {
  @include flex-column;
  color: green;
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
}

.boxBalance {
  @include flex-column;
  color: black;
  text-align: center;
}

.boxExpense {
  @include flex-column;
  color: rgb(209, 56, 17);
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
}
