@import "../../../styles/core/variables";
@import "../../../styles/core/mixins";

.wrapper {
  @include flex-row;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  width: 100%;

  @media all and (min-width: 768px) {
    font-size: 1rem;
  }
}

.boxIncome {
  @include flex-column;
  color: green;
  height: 3rem;
  border-radius: 10px;
}

.boxBalance {
  @include flex-column;
  color: black;
  text-align: center;
}

.boxExpense {
  @include flex-column;
  color: rgb(209, 56, 17);
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
}
