@import "/src/styles/core/variables";

.reportsImg {
  height: 40px;
  margin: 25px 10px 0 25px;

  @media all and (min-width: 768px) {
    height: 50px;
  }

  // @media all and (min-width: 1220px) {
  //   height: 65px;
  //   // margin: 25px 10px 0px 19px;
  // }
}

.categoriesImg {
  height: 40px;
  // margin: 15px 10px 0px 25px;

  @media all and (min-width: 768px) {
    height: 50px;
  }

  // @media all and (min-width: 1220px) {
  //   height: 80px;
  //   // margin: 10px 0 0 18px;
  // }
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-title;
  color: $font-color;
  font-size: 0.8rem;
}

/* 
.transactions:visited {
  color: black;
} */
